body,h1,h2,h3,h4,h5,h6,td,p,div,a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#gae-logo {
    width: 42px;
    margin-right: 5px;
}




@media (max-width: 992px) {
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
}
@media (min-width: 992px) {
    body {
        margin-top: 40px;
    }
    #gae-logo {
        width: 70px;
        margin-right: 8px;
    }

}